swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/api"
schemes:
  - https
security:
  - Bearer: []
paths:
  "/v1/user":
    x-swagger-router-controller: SSOController
    get:
      operationId: getUserForBPD
      summary: Get user's data
      description: Returns the user data needed by BPD backend.
      responses:
        "200":
          description: Found.
          schema:
            $ref: "#/definitions/FederatedUser"
          examples:
            application/json:
              name: "Name"
              family_name: "Surname"
              fiscal_code: "AAABBB01C02D123Z"
        "401":
          description: Token null or expired.
        "500":
          description: There was an error in retrieving the user data.
          schema:
            $ref: "#/definitions/ProblemJson"
definitions:
  LimitedFederatedUser:
    title: Federated user
    description: User data needed by federated applications.
    type: object
    properties:
      fiscal_code:
        $ref: '#/definitions/FiscalCode'
    required:
      - fiscal_code
  FederatedUser:
    title: Federated user
    description: User data needed by federated applications.
    allOf:
      - type: object
        properties:
          name:
            type: string
          family_name:
            type: string
        required:
          - name
          - family_name
      - $ref: "#/definitions/LimitedFederatedUser"
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v5.0.0/openapi/definitions.yaml#/ProblemJson"
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v5.0.0/openapi/definitions.yaml#/FiscalCode"
responses: {}
parameters: {}
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header